@{
    Layout = null;
}
@model project.Models.UserAccount
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/css/bootstrap.min.css" />

    <script type="text/javascript" src="~/Content/jQuery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <title>Online Diary</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->

    <link rel="stylesheet" href="~/Conetnt/Bootstrap/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Content/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/creative.css" type="text/css">
</head>


<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-default">
                    <a href="#">

                        <img src="/Files/@Session["image1"]" height="50" width="50" />
                        @Session["name"]
                    </a>
                </li>

                <li>

                    <a href="/Admin/Add" style="left:20px;color:lightskyblue">Add Users</a>
                </li>
                <li>
                    <a href="/Admin/ViewUser" style="left:20px;color:lightskyblue">View User</a>
                </li>
                <li>
                    <a href="/Admin/Delete" style="left:20px;color:lightskyblue">Delete Users</a>
                </li>
                <li>
                    <a href="/Admin/Search" style="left:20px;color:lightskyblue">Search user</a>
                </li>
                <li>
                    <a href="/Admin/LogoutA" style="left:20px;color:lightskyblue">Logout</a>
                </li>

            </ul>
        </div>

        </div>
        <img src="/Images/logo.png" width="400" height="74" />
        <br />


        @*<h2>Delete User Diary then Delete User</h2>
            <button><a href="~/Admin/ViewAllNote" style="left:20px;color:orange; font-size:large">Click to Delete User Diary</a></button>
            <br />*@

        @using (Html.BeginForm("Deletem", "Admin", FormMethod.Post, new { @class = "container text-center" }))
        {

            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id, new { required = "required" })



            <input type="submit" value="Delete" />
        }


</body>
</html>
